<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="mainnav">
  <div class="mainnav-home"><a href="/"><i class=" fa fa-regular fa-map" title="hihi"> montecarlo</i></a>
  </div>
  <div class="mainnav-search">
    <button type="button" data-bs-toggle="modal" data-bs-target="#searchBar">
      <input type="text" placeholder="Địa điểm ... |   Thời gian ... |   Khách ...">
    </button>

  </div>
  {{#if (IsUser user_role "admin")}}
  <div class="mainnav-add">
    <button class="bg-danger text-white btn-outline-danger"> <a class="text-white" href="/admin">Quản lí </a></button>
  </div>

  {{else if (IsUser user_role "host")}}
  <div class=" m-4">
    <button class="rounded-3 btn btn-dark"> <a class="link-light" href="/user/hosting">Đón tiếp khách
      </a></button>
  </div>
    <div class="mainnav-add">
    <button class="btn btn-outline-danger overflow-hidden rounded-4 "> <a class="text-danger" href="/rooms/edit">Cho
        thuê chỗ ở qua
        fiat</a></button>
  </div>

    {{else }}
  <div class="mainnav-add">
    <button class="btn btn-outline-danger overflow-hidden rounded-4 "> <a class="text-danger" href="/rooms/edit">Cho
        thuê chỗ ở qua
        fiat</a></button>
  </div>
  {{/if}}
  <div class="btn-group mainnav-user p-4 rounded-1">
    <button class="btn bg-white btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-person"></i>
    </button>

    <ul class="dropdown-menu p-2">
      {{#if islogged}}
      <li><a class="dropdown-item" href="/logout">Đăng Xuất </a></di>

      <li><a class="dropdown-item" href="/user/trip"> Thông tin chuyến đi </a></li>
      <li><a class="dropdown-item" href="/user/wishlist"> Danh sách yêu thích</a></li>
      <li><a class="dropdown-item" href="/user/personaldetail/{{id}}"> Hồ Sơ</a></li>
      {{!-- <li><a class="dropdown-item" href="/user/message"> Tin Nhắn</a></li> --}}
      <li><a class="dropdown-item" href="/user/hosting">Đón tiếp khách </a></li>
      <li> <a class="dropdown-item" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
          aria-controls="offcanvasExample">
          Thông tin cá nhân
        </a></li>


      {{else}}

      <li><a class="dropdown-item" href="/login">Đăng Nhập </a></li>
      <li><a class="dropdown-item" href="/register">Đăng Kí Tài Khoản</a></li>
      {{/if}}

    </ul>
  </div>


</div>

</div>


<!-- Modal -->
<div class="modal fade mt-5" id="searchBar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded-5">
      <div class="modal-header">
        Kiếm Phòng
      </div>
      <div class="modal-body ">
        <form id="searchForm" class="searchBoard-form" action="/" method="GET">
          <div class="item"> <label for="start">Ngày bắt đầu
              <input type="date" id="start" onfocus="this.showPicker()" autocomplete="off" name="start" value="">
            </label></div>

          <div class="item"> <label for="end">Ngày kết thúc
              <input type="date" onfocus="this.showPicker()" id="end" autocomplete="off" name="end">
            </label>

          </div>
          <div class="item">
            <label for="number">Số khách tối đa
              <input type="number" id="number" name="quantity" min="1" value="0">
            </label>
          </div>


          <div class="item"> <label for="search">Từ khóa
              <input type="text" id="search" name="search">
            </label>
          </div>


        </form>

        <button id="searchBtn" class="btn btn-outline-info" type="">Tìm Kiếm</button>
      </div>

    </div>
  </div>
</div>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title fw-bold" id="offcanvasExampleLabel">Thông tin cá nhân
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">


    <div class="container d-flex flex-column align-items-center">
      <div class="mb-3 row w-100">
        <div class="col-12 d-flex flex-row justify-content-center bg-light p-4">
          <img class="rounded-circle" style="width:180px;height:180px" src="{{avatar}}" alt="user avatar">
        </div>

      </div>
      <div class="mb-3 row w-100 d-flex flex-row flex-wrap">
        <label for="name" class="col-8 col-form-label fw-bold">Tên pháp lý</label>
        <div class="col-8">
          <input type="text" readonly class="form-control-plaintext" id="name" value={{user_name}}>
        </div>
        <a class="link link-dark col-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapsename"
          aria-expanded="false" aria-controls="collapseExample">
          Chỉnh sửa
        </a>
        <div class="collapse w-100" id="collapsename">

          <form class="card card-body d-flex flex-row flex-wrap" method="post" action="/user/personaldetail/name">
            <div class="form-floating mb-3 w-50">
              <input type="text" class="form-control" name="firstname" id="floatingInput">
              <label for="floatingInput">Họ</label>
            </div>
            <div class="form-floating  w-50">
              <input type="text" class="form-control" id="lastname" name="lastname">
              <label for="lastname">Tên</label>
            </div>
           <input type="submit" class="btn btn-dark text-white">

          </form>

        </div>
      </div>
      <div class="mb-3 row w-100 d-flex flex-row flex-wrap">
        <label for="name" class="col-8 col-form-label fw-bold">Tài khoản email</label>
        <div class="col-8">
          <input type="text" readonly class="form-control-plaintext" id="name" value={{user_email}}>
        </div>

      </div>
      <div class="mb-3 row w-100 d-flex flex-row flex-wrap">
        <label for="name" class="col-8 col-form-label fw-bold">Số điện thoại</label>
        <div class="col-8">
          <input type="text" readonly class="form-control-plaintext" id="name" value={{user_phone}}>
        </div>
        <a class="link link-dark col-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapsephone"
          aria-expanded="false" aria-controls="collapseExample">
          Chỉnh sửa
        </a>
        <div class="collapse w-100" id="collapsephone">
          <form class="w-100" method="post" action="/user/personaldetail/phone">
            <div class="card card-body d-flex flex-row flex-wrap">
              <div class="form-floating mb-3 w-100">
                <input type="text" class="form-control" id="floatingInput" name="phone">
                <label for="floatingInput">Số điện thoại</label>
              </div>

              <button type="submit" class=" btn btn-dark text-white">Sửa</button>
          </form>
        </div>
      </div>
    </div>
    <div class="mb-3 row w-100 d-flex flex-row flex-wrap">
      <label for="name" class="col-8 col-form-label fw-bold">Địa chỉ</label>
      <div class="col-8">
        <input type="text" readonly class="form-control-plaintext" id="name" value="{{user_address}}">
      </div>
      <a class="link link-dark col-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseaddress"
        aria-expanded="false" aria-controls="collapseExample">
        Chỉnh sửa
      </a>
      <div class="collapse w-100" id="collapseaddress">
        <div class="card card-body d-flex flex-column flex-wrap">
          <form class="w-100" method="post" action="/user/personaldetail/address">
            <div class="form-floating mb-3 w-100">
              <input type="text" class="form-control" name="address" id="floatingInput" placeholder="...">
              <label for="floatingInput">Địa chỉ mới</label>
            </div>


        </div>
        <button type="submit" class=" btn btn-dark text-white ml-2">Sửa</button></form>
      </div>
    </div>
  </div>
</div>

</div>
</div>
<script>
  $(document).ready(function () {


    $("#searchBtn").on("click", function () {

      var now = new Date();
      var month = (now.getMonth() + 1);
      var day = now.getDate();
      if (month < 10)
        month = "0" + month;
      if (day < 10)
        day = "0" + day;
      var today = now.getFullYear() + 1 + '-' + month + '-' + day;
      if ($('#start').val() == "") { $('#start').val(today); }

      var endday = now.getFullYear() - 1 + '-' + month + '-' + day;
      if ($('#end').val() == "") { $('#end').val(endday); }



      $("#searchForm").trigger("submit");
    });


    $("#user-btn").on("click", function () {
      $(".list-auth").toggleClass("display");
    });
  });
</script>