<div class="home ">
  <div class="home-filter room-types-container  ">

    <div class="room-types-wrapper p-1" style="z-index: 1000;">

      {{#each house_category_list}}
      <form style="width: 80px; " class="p-0 m-1 opacity-50  h-100 " method="get" class="room-type" action="/">
        <input type="text" value={{this._id}} name="type" style="display: none;">
        <button type="submit" class="w-100 h-50  border-0 d-flex justify-content-center bg-transparent opacity-50">
          <img style="width: 35px;height:35px;" class="opacity-50" src="{{this.img}}">
        </button>
        <p class="w-100 text-center h-50">{{this.name}}</p>
      </form>
      {{/each}}
    </div>
    <div class="w-25 p-1 d-flex flex-row flex-wrap border border-1">
      <div style="min-width: 50px;" class="w-25 p-1"> <button style="min-width: 50px; font-size:10px"
          class="btn btn-outline-dark align-self-center  rounded-2 w-100 h-100" data-bs-target="#filter"
          data-bs-toggle="modal" data-bs-dismiss="modal">Bộ
          lọc
          <i class="bi-solid bi-filter"></i>
        </button></div>
      <div style="min-width: 50px;" class="w-25 p-1">
        <form style="min-width: 50px;font-size:10px" class="w-100 h-100" method="get" action="/">  <button style="min-width: 50px;font-size:10px"
          class="btn btn-outline-dark align-self-center  rounded-2 w-100 h-100" >Cao cấp
          <i class="fa-solid fa-scale-unbalanced-flip"></i>
            <input type="text" id="bed" name="incre" checked value="1" class="d-none">
        </button></form>
      
      </div>
            <div style="min-width: 50px;" class="w-25 p-1">
        <form style="min-width: 50px;font-size:10px" class="w-100 h-100" method="get" action="/">  <button style="min-width: 50px;font-size:10px"
          class="btn btn-outline-dark align-self-center  rounded-2 w-100 h-100" >Giá rẻ
          <i class="fa-solid fa-scale-unbalanced"></i>
            <input type="text" id="bed" name="dec" checked value="1" class="d-none">
        </button></form>
      
      </div>
            <div style="min-width: 50px;" class="w-25 p-1">
        <form style="min-width: 50px;font-size:10px" class="w-100 h-100" method="get" action="/">  <button style="min-width: 50px;font-size:10px"
          class="btn btn-outline-dark align-self-center  rounded-2 w-100 h-100" >Mới đăng
      <i class="fa-solid fa-clock-rotate-left"></i>
            <input type="text" id="bed" name="newest" checked value="1" class="d-none">
        </button></form>
      
      </div>




    </div>

  </div>






  <div class="home-main">
    {{#each sorted_house_list

    }}



    <div class="home-main-card position-relative ">
      <img id="host" src="img/default/portail.png"
        style="z-index: 1; width:27%; height:27%; margin-top:10px;margin-right:10px"
        class="rounded  position-absolute top-0 end-0 ">
      <img id="host" src="{{this.host.avatar}}"
        style="z-index: 2;  margin-top:30px;margin-right:20px ;width:20%; height:18%; "
        class="rounded-circle position-absolute top-0 end-0 border border-2 border-dark">
      </img>
      <div id="carouselExample{{this._id}}" class="carousel slide w-100 h-75">
        <div class="carousel-inner w-100 h-100" style="border-radius: 10px;">
          <div class="carousel-item active w-100 h-100 rounded-5 ">
            <a href="/rooms/{{this._id}}"><img class="d-block  h-100 w-100 rounded " src="{{this.img.[0]}}"
                alt="..."></a>
          </div>
          <div class="carousel-item h-100 w-100 rounded-5">
            <a href="/rooms/{{this._id}}"><img class="d-block h-100 w-100 rounded" src="{{this.img.[1]}}" alt="..."></a>
          </div>
          <div class="carousel-item h-100 w-100 rounded-5">
            <a href="/rooms/{{this._id}}"><img class="d-block h-100 w-100 rounded" src="{{this.img.[2]}}" alt="..."></a>
          </div>
          <div class="carousel-item h-100 w-100 rounded-5">
            <a href="/rooms/{{this._id}}"><img class="d-block h-100 w-100 rounded" src="{{this.img.[3]}}" alt="..."></a>
          </div>
          <div class="carousel-item h-100 w-100 rounded-5">
            <a href="/rooms/{{this._id}}"><img class="d-block  h-100 w-100 rounded" src="{{this.img.[4]}}"
                alt="..."></a>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample{{this._id}}"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample{{this._id}}"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>




      <div class="home-main-card-body ">
        <div class="home-main-card-body-name">{{this.name}}</div>
        <div class="home-main-card-body-day">
          <p class="t"> {{genTime this.startday 'DD-MM-YYYY'}}   -----></p>
          <p class=""> {{genTime
            this.endday 'DD-MM-YYYY '}}</p>

        </div>
      </div>
      <div class="home-main-card-footer">
        <div>${{this.price}}/đêm
        </div>


        <div class="addToWishlist">
          {{#if this.isLoggedIn}}

          <button data-bs-roomId={{this._id}} data-bs-toggle="modal" data-bs-target="#wishlist"><i
              class="bi bi-heart"></i>
          </button>
          {{else}}
          <a href="/login"><i class="bi bi-heart"></i></a>
          {{/if}}



        </div>


      </div>
    </div>


    {{/each}}
  </div>
  <br>
</div>



<div class="modal fade" id="wishlist" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Danh sách Yêu thích của bạn</h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        {{#each wishlist}}
        <form action="wishlist/update/{{this._id}}" method="post">
          <input id="roomId" name="roomId" style="display: none;">
          <input style="display: none;" id="collectionId" name="collectionId" value={{this.room}}>
          <button id={{this._id}} style="width:100%"
            class="btn btn-outline-success text-dark border border-2 border-dark my-2 text-start"
            type="submit">{{this.name}}</button>
          <h5 style="display: none;"></h5>
        </form>
        {{/each}} <button class="btn btn-outline-dark" data-bs-target="#collection" data-bs-toggle="modal"
          data-bs-dismiss="modal">+</button>
        <button class="btn btn-outline-dark" data-bs-target="#collection" data-bs-toggle="modal"
          data-bs-dismiss="modal">Tạo
          danh sách mong muốn mới</button>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="collection" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel2"> Đặt tên cho danh sách mong muốn này</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form action="/wishlist/collection" method="post">
          <label for="name"></label>
          <input name="name" type="text"></input>
          <input class="btn btn-dark" type="submit" value="Tạo">
        </form>
      </div>

    </div>
  </div>
</div>

<div class="modal fade " id="filter" aria-hidden="true" aria-labelledby="fillter" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable">

    <div class="modal-content">

      <div class="modal-body d-flex  flex-column align-content-center justify-content-center mt-2 ">


        <form id="filterForm" class="d-flex flex-column justify-content-center mt-2" action="/" method="get">
          <canvas class="" id="myChart"></canvas>
          <p>Price Range</p>
          <section class="range-slider w-100 d-flex flex-column align-content-center " style="height: 100px;">
            <span class="rangeValues"></span>
            <input class="w-100" value="0" min="0" max="300" step="1" type="range" name="minPrice">
            <input class="w-100" value="300" min="0" max="300" step="1" type="range" name="maxPrice">
          </section>
          <label for="numberRoomInput">Số phòng</label>
          <div id="numberRoomInput" class="numberRoomInput d-flex flex-row justify-content-center w-100">
            <p class="p-1 m-1 bg-dark text-white rounded-pill" style="width: 50px;">
              <input type="radio" id="room" class="bg-danger" name="quantity" checked value="0">
              <label for="room">all</label>
            </p>
            <p class="p-1 m-1 bg-dark text-white rounded-pill" style="width: 50px;">
              <input type="radio" id="room1" class="bg-danger" name="quantity" value="1">
              <label for="room1">1</label>
            </p>
            <p class="p-1 m-1 bg-dark text-white rounded-pill" style="width: 50px;">
              <input type="radio" id="room2" name="quantity" value="2">
              <label for="room2">2</label>
            </p>
            <p class="p-1 m-1 bg-dark text-white rounded-pill" style="width: 50px;">
              <input type="radio" id="room3" name="quantity" value="3">
              <label for="room3">3</label>
            </p>
            <p class="p-1 m-1 bg-dark text-white rounded-pill" style="width: 50px;">
              <input type="radio" id="room4" name="quantity" value="4">
              <label for="room4">4</label>
            </p>
            <p class="p-1 m-1 bg-dark text-white rounded-pill" style="width: 50px;">
              <input type="radio" id="room5" name="quantity" value="5">
              <label for="room5">5</label>
            </p>
            <p class="p-1 m-1 bg-dark text-white rounded-pill" style="width: 50px;">
              <input type="radio" id="room6" name="quantity" value="6">
              <label for="room6">6</label>
            </p>
          </div>
          <label for="showerInput">số phòng tắm</label>
          <div id="showerInput" class="numberRoomInput d-flex flex-row justify-content-center w-100">
            <p class="p-1 m-1 bg-dark text-white rounded-pill" style="width: 50px;">
              <input type="radio" id="shower" name="showerroom" checked value="0">
              <label for="shower">all</label>
            </p>
            <p class="p-1 m-1 bg-dark text-white rounded-pill" style="width: 50px;">
              <input type="radio" id="shower1" name="showerroom" value="1">
              <label for="shower1">1</label>
            </p>
            <p class="p-1 m-1 bg-dark text-white rounded-pill" style="width: 50px;">
              <input type="radio" id="shower2" name="showerroom" value="2">
              <label for="shower2">2</label>
            </p>
            <p class="p-1 m-1 bg-dark text-white rounded-pill" style="width: 50px;">
              <input type="radio" id="shower3" name="showerroom" value="3">
              <label for="shower3">3</label>
            </p>
            <p class="p-1 m-1 bg-dark text-white rounded-pill" style="width: 50px;">
              <input type="radio" id="shower4" name="showerroom" value="4">
              <label for="shower4">4</label>
            </p>
            <p class="p-1 m-1 bg-dark text-white rounded-pill" style="width: 50px;">
              <input type="radio" id="shower5" name="showerroom" value="5">
              <label for="shower5">5</label>
            </p>
            <p class="p-1 m-1 bg-dark text-white rounded-pill" style="width: 50px;">
              <input type="radio" id="shower6" name="showerroom" value="6">
              <label for="shower6">6</label>
            </p>
          </div>
          <label for="bedroom">số phòng ngủ</label>
          <div id="bedroom" class="numberRoomInput d-flex flex-row justify-content-center w-100">
            <p class="p-1 m-1 bg-dark text-white rounded-pill" style="width: 50px;">
              <input type="radio" id="bed" name="bedroom" checked value="0">
              <label for="bed">all</label>
            </p>
            <p class="p-1 m-1 bg-dark text-white rounded-pill" style="width: 50px;">
              <input type="radio" id="bed1" name="bedroom" value="1">
              <label for="bed1">1</label>
            </p>
            <p class="p-1 m-1 bg-dark text-white rounded-pill" style="width: 50px;">
              <input type="radio" id="bed2" name="bedroom" value="2">
              <label for="bed2">2</label>
            </p>
            <p class="p-1 m-1 bg-dark text-white rounded-pill" style="width: 50px;">
              <input type="radio" id="bed3" name="bedroom" value="3">
              <label for="bed3">3</label>
            </p>
            <p class="p-1 m-1 bg-dark text-white rounded-pill" style="width: 50px;">
              <input type="radio" id="bed4" name="bedroom" value="4">
              <label for="bed4">4</label>
            </p>
            <p class="p-1 m-1 bg-dark text-white rounded-pill" style="width: 50px;">
              <input type="radio" id="bed5" name="bedroom" value="5">
              <label for="bed5">5</label>
            </p>
            <p class="p-1 m-1 bg-dark text-white rounded-pill" style="width: 50px;">
              <input type="radio" id="bed6" name="bedroom" value="6">
              <label for="bed16">6</label>
            </p>
          </div>


        </form>
        <div class="modal-footer  d-flex flex-row justify-content-between">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" name="maxPrice">Đóng</button>
          <button id="filter-submit-btn" type="button" class="btn btn-outline-dark">Tìm kiếm </button>
        </div>
      </div>
    </div>
  </div>

</div>
{{!-- <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> --}}
<script>
  $(document).ready(function () {
    $('.room-types-wrapper').slick({
      slidesToShow: 8,
      slidesToScroll: 1,
      prevArrow: '<button class="slide-left  border-1 p-1 m-1 bg-transparent rounded-circle"><i class="fa-solid fa-arrow-left"></i></button>',
      nextArrow: '<button class="slide-right border-1 p-1 m-1 bg-transparen rounded-circle"><i class="fa-solid fa-arrow-right"></i></button>',
      responsive: [
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 1
          }
        }

      ]
    });


    $("#filter-submit-btn").on("click", function () {
      $("#filterForm").trigger("submit");
    });

    const ctx = document.getElementById('myChart');


    new Chart(ctx, {
      type: 'line',
      data: {
        labels: [{{ price_list }}],
      datasets: [{
        label: '# phân khúc giá',
        data: [{{ price_value_list }}], backgroundColor: [
          'rgb(255,182,193)'
        ],

    }]
      },
    options: {
    title: {
      display: true,
      text: 'Amounts by Month'
    },
    legend: {
      display: true
    },

  }
    
  });




  var exampleModal = document.getElementById('wishlist')
  exampleModal.addEventListener('show.bs.modal', function (event) {

    // Button that triggered the modal
    var button = event.relatedTarget
    // Extract info from data-bs-* attributes
    var recipient = button.getAttribute('data-bs-roomId')

    // If necessary, you could initiate an AJAX request here
    // and then do the updating in a callback.

    // Update the modal's content.
    $("[id=roomId]").val(recipient);





  })

  });


  function getVals() {
    // Get slider values
    var parent = this.parentNode;
    var slides = parent.getElementsByTagName("input");
    var slide1 = parseFloat(slides[0].value);
    var slide2 = parseFloat(slides[1].value);
    // Neither slider will clip the other, so make sure we determine which is larger
    if (slide1 > slide2) { var tmp = slide2; slide2 = slide1; slide1 = tmp; }

    var displayElement = parent.getElementsByClassName("rangeValues")[0];
    displayElement.innerHTML = "$ " + slide1 + " - $" + slide2 + "";
  }

  window.onload = function () {
    // Initialize Sliders
    var sliderSections = document.getElementsByClassName("range-slider");
    for (var x = 0; x < sliderSections.length; x++) {
      var sliders = sliderSections[x].getElementsByTagName("input");
      for (var y = 0; y < sliders.length; y++) {
        if (sliders[y].type === "range") {
          sliders[y].oninput = getVals;
          // Manually trigger event first time to display values
          sliders[y].oninput();
        }
      }
    }
  }

</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>