<a class=" absolute-top align-self-start  btn btn-dark" style="margin: 40px;" href="/">Trở lại</a>
<a class=" absolute-top align-self-end btn btn-dark" style="margin: 40px;" href="/user/calendar">Lịch</a>
<div class="d-flex flex-column justify-content-center align-items-center  h-auto w-100 bg-light m-3 p-4"
	style="padding: 12%; min-width:350px">

	<h1 class="align-self-start m-3">Chào mừng quay trở lại {{user.name}}</h1>
	<div class="card p-3 w-100 ">
		<h2 class="text-start m-3   p-3">Đặt phòng/đặt chỗ của bạn</h2>
		<nav class="w-74 d">
			<div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
				<button class="nav-link link-secondary rounded-pill m-3 active" id="nav-home-tab" data-bs-toggle="tab"
					data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
					Sắp trả phòng</button>
				<button class="nav-link link-secondary  rounded-pill m-3" id="nav-profile-tab" data-bs-toggle="tab"
					data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
					aria-selected="false">Hiện đang đón tiếp</button>
				<button class="nav-link link-secondary  rounded-pill m-3" id="nav-contact-tab" data-bs-toggle="tab"
					data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
					aria-selected="false">Sắp đến </button>
			</div>
		</nav>

		<div class="tab-content p-3 border bg-light" id="nav-tabContent">
			<div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
				<div class="d-flex flex-row flex-wrap">{{#each hasGone}}
					<div class="card" style="width: 18rem; border-radius:15%">
						<div class="card-body w-100 bg-white">
							<h5 class="card-title w-100"><img class="w-25 h-100 rounded-circle" src={{this.cus.avatar}}>

								<p class=" w-100">{{this.cus.fullName}}</p>
							</h5>
							<img class="w-50 h-50" src="{{this.room.img.[0]}}">
							<p> Ngày trả phòng {{ genTime this.end 'MMMM Do YYYY'}} </p>


						</div>
					</div>
					{{/each}}
					{{#if hasGone.length}}
					{{else}}
					<p>Hiện tại chưa có phòng sắp trả </p>
					{{/if}}
				</div>

			</div>
			<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
				{{#each isMeeting}}
				<div class="card" style="width: 18rem; border-radius:15%">
					<div class="card-body w-100">
						<h5 class="card-title w-100"><img class="w-25 h-100 rounded-circle" src={{this.cus.avatar}}>

							<p class=" w-100">{{this.cus.fullName}}</p>
						</h5>
						<img class="w-50 h-50" src="{{this.room.img.[0]}}">
						<p> Từ ngày {{ genTime this.start 'MMMM Do YYYY'}} </p>

						<p> Đén ngày {{ genTime this.end 'MMMM Do YYYY'}} </p>
					</div>
				</div>

				{{/each}}
				{{#if isMeeting.length}}
				{{else}}
				<p>Hiện không có phòng đón tiếp </p>
				{{/if}}


			</div>
			<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
				{{#each gonnaCome}}
				<div class="card" style="width: 18rem; border-radius:15%">
					<div class="card-body w-100">
						<h5 class="card-title w-100"><img class="w-25 h-100 rounded-circle" src={{this.cus.avatar}}>

							<p class=" w-100">{{this.cus.fullName}}</p>
						</h5>
						<img class="w-50 h-50" src="{{this.room.img.[0]}}">
						<p> Ngày đến {{ genTime this.start 'MMMM Do YYYY'}} </p>


					</div>
				</div>

				{{/each}}
				{{#if isMeeting.length}}
				{{else}}
				<p>Hiện Chưa có khách đặt phòng của bạn</p>
				{{/if}}
			</div>
			{{#each item}}
			{{this.host}}
			{{/each}}
		</div>
	</div>


	
</div>

<script type="text/javascript">



</script>